{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'EndProject/style.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title>Tasks List</title>
</head>
<body>
    <h1>All Tasks</h1>

    <form method="GET" action="{% url 'tasks' %}">
        <label for="status">סטטוס:</label>
        <select name="status" id="status">
            <option value="">--בחר--</option>
            <option value="New">פתוחה</option>
            <option value="Process">בתהליך</option>
            <option value="Done">הושלמה</option>
        </select>

        <label for="employee_name">שם עובד:</label>
        <input type="text" name="employee_name" id="employee_name" placeholder="חפש עובד"/>

        <button type="submit">סנן</button>
    </form>

    <a href="{% url 'task_create' %}">Add New Task➕</a>

    <table border="1">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for task in Tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.describe }}</td>
            <td>{{ task.status }}</td>
            <td>
                {% if task.myDoner is None %}
                        {% if user.role == "worker" %}
                            <a href="{% url 'task_take' task.pk %}">Take Task</a>
                        {% elif user.role == "admin" %}
                            <a href="{% url 'task_update' task.pk %}">Edit✏️</a> |
                            <a href="{% url 'task_delete' task.pk %}">Delete❌</a>
                        {% endif %}
                {% endif %}
                {% if task.status == "Process" and task.myDoner == user%}
                    <a href="{% url 'task_finish' task.pk %}">Finish Task</a>
                {% endif %}
                {% if task.status == "Done"%}
                    <div>complete-✅</div>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No tasks available.</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'home'%}">Back to home page</a>
</body>
</html>